div.display-fastFood-list {
	width: 100%;
	height: 100px;
	margin: 0;
}

li.display-fastFood-li{
	position:relative;
	height:100%;
	width:25%;
	float: left;
	text-align:center;
	
	border-left:1px solid #E0E0E0;
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
	
	padding: 10px;
}
